{% extends 'store/base.html' %}
{% block content %}

<h2 class="page-title">Featured Products</h2>

<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="https://via.placeholder.com/200" alt="product">

        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p class="price">₹{{ product.price }}</p>
            <button class="add-btn">Add to Cart</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}